# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
catalina.*
MDFile.*
*.iml
out
target
.att*
gen

# log
applog 

logs/
*.out
*.rdb
